html, body, section {
		margin: 0;
		padding: 0;
		height:100%;
	}


div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

.container {
	position: relative;
  display: flex;
  overflow-y: auto;
  width: 100%;
}

.left-half {
	position: fixed;
	top: 0px;
	left: 0px;
	overflow: hidden;
  flex: 1.25;
  padding: 14px;
}

.right-half {
	position: relative;	
	top: 0px;
	left: 1050px;
	overflow: auto;
  flex: 0.25;
  padding: 0; 
  align-items: center;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

